
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*✨ 1200px*/
@media (max-width: 1200px) {
  .i-text {
    padding: 40px 40px 0px 40px;
  }
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*✨ 1024px*/
@media (max-width: 1024px) {
  .i-text {
    padding: 40px 40px 0px 40px;
  }
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*✨ 952px*/
@media (max-width: 952px) {
  .i-text {
   padding: 20px 40px 0px 40px;
  }
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*✨ 900px*/
@media (max-width: 900px) {
  .i-text {
    padding: 0px 0px 0px 0px !important;
  }
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*✨ 768px*/
@media (max-width: 768px) {
  .container {
    display: block;
    grid-template-rows: repeat(4, 200px 1fr 1fr 1fr); /* Set the number of rows */
    grid-template-columns: 1fr; /* Only one column */
  }
  .item {
    grid-column: 1; /* Ensure each item spans the full width */
  }
  .item-1 { /* Adjust item positions for single column layout */
    grid-row: 1;
  }
  .item-2 {
    grid-row: 2;
  }
  .item-3 {
    grid-row: 3;
  }
  .item-4 {
    grid-row: 4;
  }
  .item.item-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 704px) {
  .popup-content {
    max-width: 539px  !important;
  }
}
@media (max-width: 688px) {
  .popup-content {
    max-width: 518px  !important;
  }
}
@media (max-width: 666px) {
  .popup-content {
    max-width: 495px !important;
  }
}
@media (max-width: 632px) {
  .popup-content {
    max-width: 468px !important;
  }
}





@media (max-width: 645px) {
  .popup-content {
    max-width: 493px  !important;
  }
}
@media (max-width: 626px) {
  .popup-content {
    max-width: 464px !important;
  }
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*✨ 600px*/
@media (max-width: 600px) {
  .popup-content {
    max-width: 439px  !important;
  }
}

@media (max-width: 584px) {
  .popup-content {
    max-width: 425px !important;
  }
}
@media (max-width: 571px) {
  .popup-content {
    max-width: 409px !important;
  }
}

@media (max-width: 558px) {
  .popup-content {
    max-width: 398px !important;
  }
}
@media (max-width: 547px) {
  .popup-content {
    max-width: 383px !important;
  }
}
@media (max-width: 531px) {
  .popup-content {
    max-width: 369px!important;
  }
}
@media (max-width: 517px) {
  .popup-content {
    max-width: 349px!important;
  }
}
@media (max-width: 496px) {
  .popup-content {
    max-width: 322px!important;
  }
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*✨ 480px*/
@media (max-width: 480px) {
  .popup-content {
    margin-top: 90px !important;
    max-width: 350px !important;
  }
}

/*✨ 473px*/
@media (max-width: 473px) {
  .popup-prev, .popup-next {
    top: 80% !important;
    z-index: 20;
  }
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*✨ 400px*/
@media (max-width: 400px) {
  .popup-prev, .popup-next {
    top: 80% !important;
    z-index: 20;
  }
}


/*✨ 320px*/
@media (max-width: 320px) {
  .popup-content {
    margin-top: 96px !important;
    max-width: 315px !important;
  }
  .i-text h2{
    font-size: 22px !important;
    
  }
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/