/* กําหนด element ของ .item พื้นฐาน*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.item h3 {
  font-size: 14px;
  color: #e2626b;

  margin: 0px 0px 15px;
}

.item h2 {
  font-size: 25px;
  color: #343F52;

  margin: 0px 0px 15px;
}

.item p {
  font-size: 16px;

  margin: 0px 0px 20px;
  color: #60697b;
}

.item a {
  text-decoration: none;
  color: #e2626b;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ลูกศร 🏹*/
.item.item-1 i {
  font-size: 10px;
  margin-left: 10px;
  color: #e2626b;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ขนาด กล่อง text ข้อความ*/
.i-text {
  padding: 40px 40px 0px 40px;
  margin: 0;
  max-width: 450px;/* กำหนดความกว้างสูงสุด */
  word-wrap: break-word;/* ตัดคำและขึ้นบรรทัดใหม่ */
  overflow-wrap: break-word; /* ตัดคำและขึ้นบรรทัดใหม่ */
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*สร้างอนิเมชั่น ใต้ a */
.item a {
  text-decoration: none; /* ลบเส้นใต้ของลิงก์ */
  color: #e2626b; /* สีของลิงก์ */
  position: relative; /* ให้ตำแหน่งของลิงก์เป็น relative เพื่อให้ pseudo-element ทำงานได้ */
  display: inline-block; /* เพื่อให้ width ของ pseudo-element ใช้ได้ */
}

.item a::before {
  content: '';
  position: absolute;
  bottom: -2px; /* ตำแหน่งของเส้นใต้จากด้านล่างของลิงก์ */
  right: 0; /* เริ่มจากด้านขวา */
  width: 0; /* เริ่มต้นที่ความกว้าง 0 */
  height: 2px; /* ความหนาของเส้นใต้ */
  background-color: #e2626b; /* สีของเส้นใต้ */
  visibility: hidden; /* ซ่อนเส้นใต้ */
  transition: width 0.3s ease, visibility 0.3s ease; /* การเคลื่อนไหวของเส้นใต้ */
}

.item a:hover::before {
  visibility: visible; /* แสดงเส้นใต้เมื่อมีการโฮเวอร์ */
  width: 100%; /* ขยายความกว้างเป็น 100% */
  left: 0; /* เลื่อนไปทางซ้าย */
  right: auto; /* ปิดค่า auto เพื่อให้ทำงาน */
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* tooltip เเสดงชื่อภาพ เมื่อโดนภาพ */
.tooltip {
  /* position: absolute;*/
  position: absolute;
  padding: 10px 30px;
  /*  padding: 10px 30px;*/
  padding: 10px 30px;
  background: rgba(252, 252, 252, 0.75);
  color: rgb(25, 24, 24);
  border-radius: 5px;
  pointer-events: none; /* ให้ tooltip ไม่จับการคลิกเมาส์ */
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: 600;
  font-size: 18px;
  z-index: 500;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
